@media only screen and (max-width: 575px) {
  .container {
    width: 95%;
  }

  .section-title {
    text-align: center;
  }
  nav {
    width: 100%;
    grid-template-columns: 1fr;
  }

  nav .logo {
    justify-content: center;
  }

  .menu {
    justify-content: center;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-player {
    flex-direction: column;
  }

  .single-player img {
    margin-bottom: 10px;
  }

  .single-player h3 {
    margin-left: 0;
  }

  .blogs {
    grid-template-columns: 1fr;
  }

  .blog-thumbnail img {
    width: 150px;
    height: 100px;
  }

  .blog-title {
    font-size: 16px;
    line-height: 22px;
  }

  .courses {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .single-course {
    width: 300px;
    height: 287px;
    margin-bottom: 20px;
  }
  .courses .single-course .course-thumbnail img {
    width: 278px;
    height: 130px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    width: 90%;
  }

  nav {
    width: 90%;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs {
    grid-template-columns: 1fr;
  }

  .courses {
    grid-template-columns: repeat(2, 1fr);
  }

  .single-course {
    margin-bottom: 20px;
  }
}
